@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import shared styles */
@import "./styles/shared/neon.css";
@import "./styles/shared/animations.css";
@import "./styles/shared/typography.css";
@import "./styles/shared/cursor.css";
@import "./styles/shared/components.css";

@font-face {
  font-family: "Davetica";
  src: url("/fonts/Davetica-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Add other @font-face rules as needed */
html,
body {
  cursor: none !important;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1f1f47;
  color: whitesmoke;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
  font-family: "Lexend", Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  appearance: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
